<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farm Stand</title>
</head>

<body>
    <h1>Farm Stand</h1>
    <h2>We serve fresh goodness!</h2>
    <a href="/farms">View all farms</a>

</body>

</html>